@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Archivo", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 10%;
}
.card{
    width: 420px;
    height: 565px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #D8DDE1;
    border-radius: 10px;
    padding: 30px;
    padding-top: 25px;
    margin-bottom: 15px;
}
.image img{
    width: 100%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.image-card img{
    width: 100%;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}
.text h1{
    font-size: 24px;
    color: #373A3F;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    padding-top: 30px;
    line-height: 34px;
    margin-bottom: 15px;
}
.text p{
    font-size: 16px;
    color: #373A3F;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
}
.text .Read-more{
    font-size: 14px;
    color: #077CEA;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    gap: 5px;
}
.card-info{
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 30px;
    
}
.middle-border{
    width: 2px;
    height: 16px;
    background-color: #D8DDE1;
}
.date-info{
    display: flex;
    gap: 10px;
    font-size: 14px;
}
.comment-info{
    display: flex;
    gap: 10px;
    font-size: 14px;
}
.card:hover{
    border: 1px solid #077CEA;
    transition: border 1s;
    transition: all 1s;
}
.card:hover .image img{
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    transition: border-top-left-radius 1s, border-top-right-radius 1s, border-bottom-left-radius 1s, border-bottom-right-radius 1s ;
}